.item_card{
    color: black;
    width: 246px;
    transition: transform .4s;
    border-color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}
.item_card:hover{
    border-color: lightgray;
    transform: scale(1.05);
}
.item_img{
    margin: 0;
    width: 246px;
    height: 164px;
}
.item_card_icon{
    margin: 0;
    width: 20px;
    height: 20px;
}
.item_price{
    margin: 1px;
    font-size: 22px;
    font-weight: 600;
}
.item_price2{
    margin: 1px;
    font-size: 16px;
}
.person_info{
    font-size: 15px;
}
.item_title{
    word-break: normal;
    word-wrap: break-word;
    margin: 1px;
    font-size: 18px;
    white-space: normal;
}
.item_link:link{
    text-decoration: none;
}
.item_link:visited{
    text-decoration: none;
}
.item_link:hover{
    text-decoration: none;
}
.item_link:active{
    text-decoration: none;
}
.material-icons.orange{
    color: orange;
}
.grade_margin{
    margin-left: 10px;
}
.item_cardbody{
    min-height: 170px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}